#main_content
    {
        padding: 10px;
        text-align: center;
    }

h1
    {
        padding: 10px;
        text-align: center;
        color: #FFFFFF;
    }

p
    {
        color: #FFFFFF;
        font-weight: bold;
    }

html
    {
        background-color: #000000;
        border-style: solid;
        border-width: 20px;
    }