<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head th:replace="fragments/header :: header"></head>
<body>
  <div th:replace="fragments/navbar :: navbar"></div>
    <div id= "main_content">
      <p></p>
    </div>
  <div class="profile-header">
    <ul class="profile-header-tab nav nav-tabs">
      <li class="nav-item"><a href="" class="nav-link active show" data-toggle="tab">FRIENDS</a></li>
      <li class="nav-item"><a href="" class="nav-link" data-toggle="tab">PENDING</a></li>
      <li class="nav-item"><a href="" class="nav-link" data-toggle="tab">BLOCKED</a></li>
    </ul>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
                <small class="text-muted">online</small>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <img src="images/user.png" class="img-fluid rounded-circle mb-2" width="64" height="64">
            <p class="card-text">friend</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
              </div>
              <small class="text-muted">online</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>