<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head th:replace="fragments/header :: header"></head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container p-4">

        <!-- Modal -->
        <div class="modal fade" id="addDirectMessage" tabindex="-1" aria-labelledby="addDirectMessageLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDirectMessageLabel" th:text="${'Send Message to ' + user.username}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="#" th:action="@{/saveDirectMessage}" method="post" enctype="multipart/form-data">
                            <input type="hidden" th:field="${user.id}"/>
                            <div class="form-group">
                                <textarea placeholder="Direct Message" class="mt-2 mb-2" name="directmessage"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img th:src="@{${user.avatarImgBase64 != null} ?  ${'data:image/png;base64,' + user.avatarImgBase64} : '/images/user.png'}" class="img-fluid mb-2" width="128" height="128">
                        <h4 class="card-title mb-0" th:text="${user.username}"></h4>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#addDirectMessage">
                            <img src="/images/messenger.png" height="20px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-6 order-1 order-lg-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${user.firstName + ' ' + user.lastName}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${user.email}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${user.phone}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${user.mobile}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" th:text="${user.address}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-3">
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Interests/Activities</h5>
                        <p class="card-text" th:text="${user.bio}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-4 mb-2">
                <h4 class="mb-3" th:text="${user.username + '''s Images'}"></h4>
            </div>
            <div class="col-3" th:each="post : ${posts}">
                <div class="card mt-2" style="width: 18rem; border-radius: 20px;">
                    <img class="card-img-top" style="height: 180px; width: 100%; display: block; border-top-left-radius: 20px;
border-top-right-radius: 20px;" th:src="@{${'data:image/png;base64,' + post.imageBase64}}" data-holder-rendered="true">
                    <div class="card-body" style="height: 80px;">
                        <p class="card-text" th:text="${post.caption}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>