<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container p-4">
  <nav class="profile-header">
    <div class="profile-header-tab nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-friends-tab" data-bs-toggle="tab" data-bs-target="#nav-friends" type="button" role="tab" aria-controls="nav-friends" aria-selected="true">FRIENDS</button>
      <button class="nav-link" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="false">PENDING</button>
      <button class="nav-link" id="nav-blocked-tab" data-bs-toggle="tab" data-bs-target="#nav-blocked" type="button" role="tab" aria-controls="nav-blocked" aria-selected="false">BLOCKED</button>
    </div>
  </nav>

  <div class="album py-5 bg-light">
    <div class="container">
      <form class="col-12 col-lg-auto p-3 mb-lg-0">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </div>
      </form>
      <!--Tabs-->
      <div class="tab-content" id="nav-tabContent">
        <!--friends tab-->
        <div id="nav-friends" role="tabpanel" aria-labelledby="nav-friends-tab" class="container tab-pane fade show active"><br>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/32/32/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/68/68/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/45/45/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/50/50/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/78/78/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/84/84/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/80/80/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/10/10/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <img src="http://placeimg.com/12/12/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
                <p class="card-text">friend</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                  </div>
                  <small class="text-muted">online</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--pending friend requests tab-->
        <div id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab" class="container tab-pane fade"><br>
          <div class="col">
            <div class="card-body">
              <img src="http://placeimg.com/32/32/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
              <p class="card-text">friend</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">accept</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">remove</button>
                </div>
                <small class="text-muted">online</small>
              </div>
            </div>
          </div>
        </div>
        <!--blocked users tab-->
        <div id="nav-blocked" role="tabpanel" aria-labelledby="nav-blocked-tab" class="container tab-pane fade"><br>
          <h3>BLOCKED</h3>
          <div class="col">
            <div class="card-body">
              <img src="http://placeimg.com/32/32/people" class="img-fluid rounded-circle mb-2 mr-3" width="64" height="64" />
              <p class="card-text">friend</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">profile</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">unblock</button>
                </div>
                <small class="text-muted">online</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>