<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments/header :: header"></head>
    <title>Espy | Home</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container p-4">
    <div class="row">
        <!-- Feed -->
        <div class="col-12 col-lg-7 col-xl-8 order-2 order-sm-1">
            <div th:each="post : ${posts}"  class="card mb-3">
                <div class="card-body text-left">
                    <h6 class="card-title mb-2">
                        <div class="row">
                            <div class="col">
                                <img th:src="@{${'data:image/png;base64,' + post.user.avatarImgBase64}}" class="img-fluid rounded mb-2 mr-3" width="32" height="32" />
                                <a th:if="${post.user.id != SignedInUser.id}" th:href="${'/friend/' + post.user.id}" class="pl-5 my-auto" th:text="${post.user.username}" />
                                <a th:if="${post.user.id == SignedInUser.id}" th:href="${'/profile'}" class="pl-5 my-auto" th:text="${post.user.username}" />
                            </div>

                            <div class="col text-end">
                                <p class="small text-secondary my-auto text-end" th:text="${#temporals.format(post.createdAt, 'MM-dd-yyyy hh:mm a')}" />
                            </div>
                        </div>
                    </h6>

                    <img th:src="@{${'data:image/png;base64,' + post.imageBase64}}" class="img-fluid rounded w-100 mb-2" />

                    <p class="small">
                        <form method="post" th:action="${'/posts/' + post.id + '/like'}">
                            <button type="submit" class="btn btn-link d-inline align-middle p-0">
                                <i class="far fa-heart"></i>
                            </button>

                            <span class="d-inline align-middle">
                                <span th:text="${#lists.size(post.allLikes)}" />
                                <span th:if="${#lists.size(post.allLikes) != 1}" th:text="${' Likes'}" />
                                <span th:if="${#lists.size(post.allLikes) == 1}" th:text="${' Like'}" />
                            </span>
                        </form>
                    </p>

                    <p class="mb-2" th:text="${post.caption}" />

                    <p>
                        <span class="badge rounded-pill bg-secondary" th:each="tag : ${post.allTags}" th:text="${tag.tag}" style="margin-right:6px;" />
                    </p>

                    <h6>Comments</h6>

                    <p class="small mb-2" th:each="comment : ${post.allComments}">
                        <img th:src="@{${'data:image/png;base64,' + comment.user.avatarImgBase64}}" width="16" height="16" />
                        <a th:if="${comment.user.id != SignedInUser.id}" th:href="${'/friend/' + comment.user.id}" class="small fw-bolder my-auto" th:text="${comment.user.username}" />
                        <a th:if="${comment.user.id == SignedInUser.id}" th:href="${'/profile'}" class="small fw-bolder my-auto" th:text="${comment.user.username}" />
                        <br />
                        <span th:text="${comment.comment}" />
                    </p>

                    <form class="d-flex" method="post" th:action="${'/posts/' + post.id + '/comment'}">
                        <input class="form-control" type="text" name="comment" placeholder="Comment" aria-label="comment" style="margin-right: 6px;">
                        <button class="btn btn-outline-primary" type="submit">Comment</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Friends -->
        <div class="col-12 col-lg-5 col-xl-4 order-1 order-sm-2">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row border-bottom mb-2 p-3">
                        <div class="col-12 col-sm-3 p-1">
                            <img th:src="@{${user.avatarImgBase64 != null} ?  ${'data:image/png;base64,' + user.avatarImgBase64} : '/images/user.png'}" class="img-fluid rounded mb-2 mr-3 w-100 h-auto mx-auto" style="max-width: 200px;" />
                        </div>

                        <div class="col-12 col-sm-9">
                            <p class="mb-0"><a th:href="${'/profile'}" th:text="${user.username}" /></p>
                        </div>
                    </div>

                    <div class="row border-bottom mb-2 py-3">
                        <div class="col text-center">
                            <h4>Friends</h4>
                            <form class="d-flex" method="GET" action="/friendsearch/search">
                                <input class="form-control me-2" type="text" name="query" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>

                    <div class="row pt-3" th:each="friend : ${user.allFriends}">
                        <div class="col-2">
                            <img th:src="@{${friend.friend.avatarImgBase64 != null} ?  ${'data:image/png;base64,' + friend.friend.avatarImgBase64} : '/images/user.png'}" class="img-fluid rounded" width="32" height="32" />
                        </div>
                        <div class="col-10 text-secondary">
                            <a th:href="${'/friend/' + friend.friend.id}" th:text="${friend.friend.username}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>